In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [18]:
df = pd.read_csv('/content/USvideos.csv')

In [16]:
df.sample(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
26427,PFH046Fh3ps,18.28.03,Impulse | Official Teaser Trailer - YouTube Or...,Impulse,24.0,2018-03-22T17:00:08.000Z,"Impulse|""Impulse Series""|""Drama""|""Science Fict...",919003.0,11408.0,1361.0,1510.0,https://i.ytimg.com/vi/PFH046Fh3ps/default.jpg,False,False,False,In the upcoming YouTube Red Original Drama Ser...
21696,YFHHGETsxkE,18.04.03,"PAPERS, PLEASE - The Short Film (2018) 4K SUBS",Никита Ордынский,1.0,2018-02-24T15:59:25.000Z,"кино|""короткий метр""|""короткометражка""|""short ...",1640547.0,154756.0,1174.0,9109.0,https://i.ytimg.com/vi/YFHHGETsxkE/default.jpg,False,False,False,"SUBTITLES AVAILABLE (EN, RU, CS, DA, DE, EL, E..."
12125,gsVgqms1slE,18.15.01,Rag'n'Bone Man - Die Easy (Official Video),RagnBoneManVEVO,10.0,2018-01-11T08:00:01.000Z,"Alternative/Indie|""Columbia""|""Die Easy""|""Rag'n...",249079.0,12018.0,271.0,599.0,https://i.ytimg.com/vi/gsVgqms1slE/default.jpg,False,False,False,Music video by Rag'n'Bone Man performing Die E...
3156,07bTt0BTi-U,17.29.11,Glowing Speaker iPhone Mod! See Your Music in ...,EverythingApplePro,24.0,2017-11-23T02:12:48.000Z,"iPhone Mod|""Glowing Speaker Mod""|""Glowing""|""Sp...",715905.0,22634.0,739.0,3225.0,https://i.ytimg.com/vi/07bTt0BTi-U/default.jpg,False,False,False,NEW $5 Glowing Speaker Mod For iPhone 7/7 Plus...
12664,pqzopUurZPc,18.18.01,Fox and Owl Face Off || ViralHog,ViralHog,15.0,2018-01-15T18:13:26.000Z,"2018|""Animals""|""birds""|""Cool""|""Dogs""|""Featured...",187679.0,1417.0,149.0,335.0,https://i.ytimg.com/vi/pqzopUurZPc/default.jpg,False,False,False,"Occurred on: January 4, 2018 / Cobourg, Ontari..."

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
2707,XcUiOyKclOI,17.27.11,Kelly Clarkson - Miss Independent / Love So So...,Kelly Clarkson,10.0,2017-11-21T15:56:31.000Z,"Kelly Clarkson|""Meaning of Life""|""Love So Soft...",107273.0,4197.0,37.0,286.0,https://i.ytimg.com/vi/XcUiOyKclOI/default.jpg,False,False,False,MEANING OF LIFE available now: https://Atlanti...
17564,odHhIVjDgq8,18.11.02,My dogs thought on the current howl chain...,Chris Turner,15.0,2018-02-04T12:27:29.000Z,[none],505444.0,8218.0,220.0,515.0,https://i.ytimg.com/vi/odHhIVjDgq8/default.jpg,False,False,False,Interested in using this video? Email me: ctur...
27980,bc5BnTYRgx8,18.05.04,$10 Vegan vs. $135 Vegan,BuzzFeedVideo,22.0,2018-04-01T15:00:44.000Z,"BuzzFeed|""BuzzFeedVideo""|""BuzzFeed Video""|""Vid...",4489200.0,112278.0,5270.0,16234.0,https://i.ytimg.com/vi/bc5BnTYRgx8/default.jpg,False,False,False,"I'm sorry, I just stole your mom.\n[Edit] We m..."
16500,qmxMAdV6s4U,18.06.02,GAME NIGHT - Official Trailer,Warner Bros. Pictures,24.0,2018-02-01T17:00:24.000Z,"game night|""game night movie""|""warner bros""|""w...",2178547.0,3354.0,118.0,305.0,https://i.ytimg.com/vi/qmxMAdV6s4U/default.jpg,False,False,False,"In Theaters February 23, 2018\n--\nhttp://Game..."
1811,89PKbJ2NAqc,17.23.11,Maroon 5 Busks in NYC Subway in Disguise,The Tonight Show Starring Jimmy Fallon,23.0,2017-11-22T04:47:15.000Z,"The Tonight Show|""Jimmy Fallon""|""Subway Buskin...",1134859.0,21876.0,391.0,1067.0,https://i.ytimg.com/vi/89PKbJ2NAqc/default.jpg,False,False,False,Jimmy and Maroon 5 put on disguises and give a...

In [19]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  28264.000000  2.826400e+04  2.826400e+04  2.826400e+04   2.826400e+04
mean      20.147538  1.436790e+06  4.955343e+04  2.775819e+03   6.119422e+03
std        7.509573  4.393726e+06  1.515289e+05  3.250574e+04   3.094451e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  1.525328e+05  3.244750e+03  1.330000e+02   4.100000e+02
50%       24.000000  4.361480e+05  1.214400e+04  4.210000e+02   1.303000e+03
75%       25.000000  1.222300e+06  3.623700e+04  1.336000e+03   3.896000e+03
max       43.000000  1.493761e+08  3.093544e+06  1.674420e+06   1.361580e+06

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28265 entries, 0 to 28264
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                28265 non-null  object
 1   trending_date           28265 non-null  object
 2   title                   28265 non-null  object
 3   channel_title           28264 non-null  object
 4   category_id             28264 non-null  float64
 5   publish_time            28264 non-null  object
 6   tags                    28264 non-null  object
 7   views                   28264 non-null  float64
 8   likes                   28264 non-null  float64
 9   dislikes                28264 non-null  float64
 10  comment_count           28264 non-null  float64
 11  thumbnail_link          28264 non-null  object
 12  comments_disabled       28264 non-null  object
 13  ratings_disabled        28264 non-null  object
 14  video_error_or_removed  28264 non-null  object
 15  description             27804 non-null  object
dtypes: float64(5), object(11)
memory usage: 3.5+ MB

In [22]:
df.corr()

               category_id     views     likes  dislikes  comment_count
category_id       1.000000 -0.129944 -0.139000 -0.004758      -0.038655
views            -0.129944  1.000000  0.801189  0.486559       0.570639
likes            -0.139000  0.801189  1.000000  0.433872       0.726626
dislikes         -0.004758  0.486559  0.433872  1.000000       0.805844
comment_count    -0.038655  0.570639  0.726626  0.805844       1.000000

In [ ]:
#HYPOTHETICAL TESTING :
#Z-TEST

In [25]:
x =df['likes'][df['trending_date']=='17.14.11'].mean()
x

38188.175

In [26]:
z = df['likes'][df['trending_date']=='17.14.11']
sample = z.sample(50)
a = sample.mean()
a

51496.06

In [27]:
y =df['likes'][df['trending_date']=='17.14.11'].std()
y

143979.9233833026

In [23]:
#Problem Statement :
#On the date 17.14.11 averge likes received x and standard deviation of y recorded.A sample of 50 been taken with the mean of z. There is a claim that the average mean has not been changed. Is there enough evidence reject the claim?

In [24]:
#h0 : mean =x
#h1 : mean !=x

In [28]:
#using two tailed test
alpha=0.05

b = a
n = 50
std = y

In [45]:
z= (a-x)/(std/np.sqrt(n))
z

-0.490505881304967

In [46]:
z_critical = st.norm.ppf(alpha/2)
z_critical

-1.9599639845400545

In [47]:
if(z>abs(z_critical) or z<z_critical):
  print('Rejecting Null Hypothesis')
else:
  print('Fail to Reject Null Hypothesis')

Fail to Reject Null Hypothesis

In [ ]:
#T-Test

In [50]:
x =df['likes'][df['trending_date']=='17.14.11'].mean()
x

38188.175

In [48]:
z = df['likes'][df['trending_date']=='17.14.11']
sample = z.sample(21)
a = sample.std()
a

354586.47449604364

In [49]:
y =df['likes'][df['trending_date']=='17.14.11'].std()
y

143979.9233833026

In [51]:
t= (a-x)/(std/np.sqrt(n))
t

15.538790261329614

In [52]:
dof = n-1

In [53]:
t_critical = st.t.ppf(alpha/2, dof)
t_critical

-2.0095752344892093

In [54]:
if (t>abs(t_critical) or t<t_critical): #Right-tailed test
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected